body {
    background-color: #FBFFE4;
}
.bg-login {
    background-color: #A3D1C6;
}
.bg-a3d1c6{
    background-color: #A3D1C6;
}
.bg-3d8d7a {
    background-color: #3D8D7A;
}
.border-showmore {
    border-color: #3D8D7A;
}
.border-button-3d8d7a {
    border-color: #3D8D7A;
}
.c-fbffe4{
    background-color: #FBFFE4;
}
.font-3d8d7a {
    color: #3D8D7A;
}
.bg-environment{
    background-image: url('assets/img/bg-environment.png');
}
.text-button-3d8d7a{
    color: #3D8D7A;
}